In [1]:
#Install of Pandas to the Notebook

!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)

In [2]:
#Importing Pandas to this Notebook

import pandas as pd

import import_ipynb

import dataframeUtilities as dfu

importing Jupyter notebook from dataframeUtilities.ipynb

In [3]:
#Import of the chosen Open Source Dataset Rental Prices By Quarter:https://www.rtb.ie/research/average-rent-dataset

importedwages = 'Averageannualirishwagesperyear.csv'

datawages = pd.read_csv(importedwages)

In [4]:
#Viewing the new Dataset headers and columns to ensure it has the information required

datawages.head(11)

   COUNTRY  Country SERIES  ...         Value  Flag Codes  Flags
0      IRL  Ireland  CPNCU  ...  15349.510969         NaN    NaN
1      IRL  Ireland  CPNCU  ...  16411.982778         NaN    NaN
2      IRL  Ireland  CPNCU  ...  17601.759896         NaN    NaN
3      IRL  Ireland  CPNCU  ...  18872.361646         NaN    NaN
4      IRL  Ireland  CPNCU  ...  19507.798965         NaN    NaN
5      IRL  Ireland  CPNCU  ...  20402.137467         NaN    NaN
6      IRL  Ireland  CPNCU  ...  21420.869926         NaN    NaN
7      IRL  Ireland  CPNCU  ...  23208.538197         NaN    NaN
8      IRL  Ireland  CPNCU  ...  25550.419681         NaN    NaN
9      IRL  Ireland  CPNCU  ...  26894.370181         NaN    NaN
10     IRL  Ireland  CPNCU  ...  28790.180399         NaN    NaN

[11 rows x 15 columns]

In [5]:
datawages = dfu.nan_clr_df(datawages)

In [6]:
print(datawages)

   COUNTRY  Country SERIES  ... PowerCode Code  PowerCode         Value
0      IRL  Ireland  CPNCU  ...              0      Units  15349.510969
1      IRL  Ireland  CPNCU  ...              0      Units  16411.982778
2      IRL  Ireland  CPNCU  ...              0      Units  17601.759896
3      IRL  Ireland  CPNCU  ...              0      Units  18872.361646
4      IRL  Ireland  CPNCU  ...              0      Units  19507.798965
5      IRL  Ireland  CPNCU  ...              0      Units  20402.137467
6      IRL  Ireland  CPNCU  ...              0      Units  21420.869926
7      IRL  Ireland  CPNCU  ...              0      Units  23208.538197
8      IRL  Ireland  CPNCU  ...              0      Units  25550.419681
9      IRL  Ireland  CPNCU  ...              0      Units  26894.370181
10     IRL  Ireland  CPNCU  ...              0      Units  28790.180399
11     IRL  Ireland  CPNCU  ...              0      Units  31012.206576
12     IRL  Ireland  CPNCU  ...              0      Units  32771.640858
13     IRL  Ireland  CPNCU  ...              0      Units  34875.238248
14     IRL  Ireland  CPNCU  ...              0      Units  36604.583680
15     IRL  Ireland  CPNCU  ...              0      Units  38595.168338
16     IRL  Ireland  CPNCU  ...              0      Units  39988.725369
17     IRL  Ireland  CPNCU  ...              0      Units  42436.482222
18     IRL  Ireland  CPNCU  ...              0      Units  44496.287736
19     IRL  Ireland  CPNCU  ...              0      Units  44635.129637
20     IRL  Ireland  CPNCU  ...              0      Units  44152.768157
21     IRL  Ireland  CPNCU  ...              0      Units  44087.644182
22     IRL  Ireland  CPNCU  ...              0      Units  44215.779633
23     IRL  Ireland  CPNCU  ...              0      Units  43617.307761
24     IRL  Ireland  CPNCU  ...              0      Units  43688.524358
25     IRL  Ireland  CPNCU  ...              0      Units  44106.001921
26     IRL  Ireland  CPNCU  ...              0      Units  44901.182226
27     IRL  Ireland  CPNCU  ...              0      Units  45946.301961
28     IRL  Ireland  CPNCU  ...              0      Units  47190.582422
29     IRL  Ireland  CPNCU  ...              0      Units  48998.809019
30     IRL  Ireland  CPNCU  ...              0      Units  49521.648140
31     IRL  Ireland  CPNCU  ...              0      Units  51675.638569

[32 rows x 11 columns]

In [7]:
#Checking the Time column on the new Dataset to see what format it is currently. As this column was an int, I decided to alter the other dataset to include this column to use as an identifier for merging the Datasets

print(datawages['Time'].dtype)

int64