In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)

In [2]:
import pandas as pd

In [3]:
importedwages = 'Averageannualirishwagesperyear.csv'

datawages = pd.read_csv(importedwages)

In [4]:
datawages.head(11)

   COUNTRY  Country SERIES  ...         Value  Flag Codes  Flags
0      IRL  Ireland  CPNCU  ...  15349.510969         NaN    NaN
1      IRL  Ireland  CPNCU  ...  16411.982778         NaN    NaN
2      IRL  Ireland  CPNCU  ...  17601.759896         NaN    NaN
3      IRL  Ireland  CPNCU  ...  18872.361646         NaN    NaN
4      IRL  Ireland  CPNCU  ...  19507.798965         NaN    NaN
5      IRL  Ireland  CPNCU  ...  20402.137467         NaN    NaN
6      IRL  Ireland  CPNCU  ...  21420.869926         NaN    NaN
7      IRL  Ireland  CPNCU  ...  23208.538197         NaN    NaN
8      IRL  Ireland  CPNCU  ...  25550.419681         NaN    NaN
9      IRL  Ireland  CPNCU  ...  26894.370181         NaN    NaN
10     IRL  Ireland  CPNCU  ...  28790.180399         NaN    NaN

[11 rows x 15 columns]

In [7]:
print(datawages['TIME'].dtype)

int64